*{
	margin: 0;
    padding: 0;
    
}
body{
  background:     -ms-linear-gradient(90deg, #f1f1f1 10%, #9ce8eb 90%);
  background:      -o-linear-gradient(90deg, #d2f1e1 10%, #d4ebf1 90%);
  background:         linear-gradient(90deg, #aad4be 10%, #74c9df 90%);
}
.espacio{
    margin: 10%;
}
.container{
    margin-top: 65px;
}
.container-all-profile{
	max-width: 1000px;
	max-height: 220px;
    width: 95%;
	/*margin: auto;*/
	margin-top: 4px;
	margin-left: 120px;
	height: auto;
   /* background: red;*/
    /*border: 1px solid rgba(0,0,0,0.1);*/
}
.container-info-profile{
	width: 100%;
	height: 250px;
	/*background-color: grey;*/
	display: flex;
	/*border-bottom:1px solid  rgba(0,0,0,0.1);*/
}
.container-profile-picture{
	min-width: 290px;
	height: 250px;
	/*background-color: red;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.container-img-profile{
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	overflow: hidden;
	border-radius: 100%;
	grid-area: foto;
}
.container-img-profile img{
	width: 100%;
}
.container-profile-info{
	width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 70px;
}
.sub-container-profile-info{
	height: 150px;
	width: 100%;
	display: grid;
	grid-template-columns: 200px 600px 100px 0px;
	grid-template-areas: 
						 "foto counters buttonedit buttonconfig"
						 "foto infoprofile  buttonedit buttonconfig"	 
						 ;
    line-height: 1.8;
	/*background: red;*/
}
.editar{
    margin: 5%;
    margin-top: 15px;  
}
.container-editprofile{
	grid-area: buttonedit;
}
.section-info-username{
	display: flex;	
}
.txt-username{
	font-size: 23px;
    font-family: serif;
    color: rgba(0,0,0,0.60);
    margin-right: 10px;
    font-family: arial;
    color: #262626;
}
.link-txt-edit-profile{
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.16);
    padding: 5px 7px;
    border-radius: 4px;
    font-family: arial;
    font-weight: 600;
    font-size: 13px;   
    color: #262626;
}
.section-info-name{
	grid-area: infoprofile;
} 
.section-info-follows{
	display: flex;
	grid-area: counters;
}
.section-info-follows span{
	margin-right:5px;
}
.section-info-follows div{
	margin: 15px 15px 3px 0px;
    font-size: 15px;
    font-family: arial;
    display: flex;
}
.section-info-name div{
	font-family: arial;
}
.txt-name{
	font-family: arial;
    color: rgba(0,0,0,0.67);
    margin-bottom: 5px;
    display: block;
    width: 330px;
}
/*estilos de los posts*/

.listPost{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px,290px));
	grid-gap: 30px;
	justify-content: center;
}
.btn-editar, .btn-eliminar{
	outline: none;
    background-color: rgb(182, 182, 182);
    position: relative;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    margin-left: 2%;
    color: rgb(255, 255, 255);
}

.post{
	cursor: pointer;
	display: block;
	border: 1px solid rgba(0,0,0,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
	width: auto;
}

.post-image{
	margin:0;
}

.post-image img{
	width: 100%;
	vertical-align: top;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	display: none;
	transition: all 0.5s;
}

.overlay span{
	padding: 0 10px;
	margin:0 3px;
}

.post:hover .overlay{
	display: flex;
}

.gallery-block{padding-bottom: 60px; padding-top: -40px;}
.gallery-block .heading{margin-bottom: 50px; text-align: center;}

.gallery-block .heading h2{font-weight: bold;font-size: 1.4rem; text-transform: uppercase;}

.gallery-block.cards-gallery h6{font-size: 17px; font-weight: bold;}

.gallery-block.cards-gallery .card{transition: 0.4s easy;}
.gallery-block.cards-gallery .card img{box-shadow: 0px 2px 10px rgba(0,0,0,0.15);}
.gallery-block.cards-gallery .card-body{text-align: center;}
.gallery-block.cards-gallery .card-body p{font-size: 15px;}
.gallery-block.cards-gallery a{color:#212529; }
.gallery-block.cards-gallery a:hover{text-decoration: none;}
.gallery-block.cards-gallery  .card{
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}



@media screen and (max-width: 768px) {
						 
	.sub-container-profile-info{
		grid-template-columns: 100px 116px 35px ;
		grid-template-areas: "foto username  buttonconfig  "
							 "foto buttonedit  buttonconfig "
							 
							 "infoprofile infoprofile infoprofile  "
							 "counters counters counters"
							 ;
							 
		/*background: red;*/
	}
	.listPost{
		grid-gap: 3px;
	}

	.container-profile-info{
		padding: 0 0;
	}

	.container-img-profile {
	    width: 80px;
	    height: 80px;
	    display: flex;
	    justify-content: center;
	    align-items: baseline;
	    overflow: hidden;
	    border-radius: 100%;
	}

	.section-info-follows {
	    margin: -45px 0px;	}

	.container-profile-picture {
	    min-width: 100px;
	    height: 151px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.section-info-name{
		margin:10px 0;
	}

	.link-txt-edit-profile{
		display: block;
	}
}


